---
import Layout from '../layouts/Layout.astro';
import Header from '../components/global/Header.vue';
import Footer from '../components/global/Footer.vue';
import IndexKV from '../components/element/IndexKV.vue';
---

<Layout title="2020總統大選開票地圖">
  <Header client:load />

  <main class="pt-[55px] md:pt-[80px]">
    <!-- <p>
      一家則是，表達不論聯繫電話瞬間廣告充滿消除，民間廣場之中專家，增長直到一是面向很熱把你不見聲明距離道理，模擬當時反對大連地球代表發貼不明白參數，群眾萬華有什麼預期設備習慣就好繼續查詢居住改革傳來，民族太麻里下降身體方便施工時尚顯卡認證意大利部分顧問，經營保留農村能力很大第二市場價，高考群發，一把幫我字幕花園，每年建議面向，風情以便造成不對到我做法文字附近當地，電腦欣賞能夠真是斑竹成功劇情想法學院氣氛隱藏再說站點回到有一定，漫畫我覺得，每月發言誘惑基地在這人氣工廠工藝的確世界盃，親自請求興趣壓力，有限公司，典型策劃，早上聲音快車交換新臺幣幾乎見面特點有限頁面更為意見上次具體，所以複製下了農業拍。
    </p> -->
    <!-- <div class="h-[20vh]"></div> -->
    <IndexKV client:load />
  </main>
  <Footer client:load footerGoMap="true" />
  <style></style>
</Layout>
