---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Layout/Header.vue';
---

<Layout title="2020總統大選開票地圖">
  <main>
    <Header client:load />
    <div class="pt-[55px] md:pt-[80px]">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, voluptas. Fugit tempore molestiae non
      debitis expedita incidunt provident iste vel rerum, sequi sed similique eveniet natus corrupti nesciunt dolorum
      aliquam?
    </div>
    <div><img src="" alt="" /></div>
  </main>
</Layout>

<style></style>
