---
import Header from '../components/global/Header.vue';
import Footer from '../components/global/Footer.vue';

const title = '2020總統大選開票地圖';
const { footerGoMap } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-vote.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-y-auto overflow-x-hidden">
    <Header client:load />
    <main class="pt-[55px] md:pt-[80px]">
      <slot />
    </main>
    <Footer client:load footerGoMap={footerGoMap} />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    font-family: 'Noto Sans TC', sans-serif;
    background-size: 224px;
    width: 100%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    width: 100vw;
    height: 100vh;
  }
</style>
